*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
table{
    border-collapse: collapse;
}
html , body {
    margin: 0;
    padding: 0;
}
a{
    text-underline: none;
}
input,button,textarea,select{
    outline: none;
}