/*时间变更记录*/
.timeChangeRecord{
    width: 600px;
    font-size: 14px;
    margin: 0 auto;
}
.timeChangeRecord-title{
    font-size: 16px;
    padding: 20px 0px;
}
.timeChangeRecord-list{
    width: 580px;
    margin: 0 auto;
}
.timeChangeRecord-list-ul{
    border-collapse: collapse;
}
.timeChangeRecord-list-li{
    overflow: hidden;
}
.timeChangeRecord-list-li td{
    height: 20px;
    border: 1px solid #2b2e37;
    padding-left: 5px;
}
.timeChangeRecord-list-odd{
    width: 308px;
}
.timeChangeRecord-list-proposer{
    width: 105px;
}
.timeChangeRecord-list-date{
    width: 167px;
}